:root{
    --bg-color: #FFFFFF;
    --app-color: #EEEEEE;
    --dark-text: #686868;
    --red-pink: #FF6666;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /* background: url(./bgtemp.jpg) no-repeat; */
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
}

.container {
  height: auto;
  min-height: 400px;
  padding: 1rem;
  margin: 1rem;
  /* background: transparent; */
  background-color: var(--app-color);
  /* border: 2px solid var(--border-color); */
  border-radius: 10px;
  /* backdrop-filter: blur(15px); */
}

h1 {
  color: var(--dark-text);
  font-weight: 400;
  text-align: left;
  margin-bottom: 36px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 50%;
}

.todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: var(--bg-color);
  border-radius: 1rem;
  border-style: none;
  color: var(--dark-text);
  font-size: 16px;
  margin-right: 1rem;
}

.todo-input::placeholder {
  color: var(--dark-text);
}

.add-button {
  border: none;
  outline: none;
  background-image: linear-gradient(to top right, #FF9A8B, #FF6A88, #FF99AC);
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-image {
  margin: 55px auto 0;
  display: block;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 12px;
  transition: 200ms;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  border: 2px solid var(--dark-text);
  transition: 200ms;
  margin-left: 0.5rem;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: var(--dark-text);
}

.todo span {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: 200ms;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -2rem;
  border-radius: 25%;
  background-color: var(--app-color);
}

input[type='checkbox'] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through;
  margin-left: 0rem;
  transition: 200ms;
}

.todo input:checked + span::before{
  transition: 200ms;
  width: 1rem;
  height: 1rem;
  background-image: linear-gradient(to top right, #FF9A8B, #FF6A88, #FF99AC);
  border-radius: 50%;
}

.todo .delete-btn  {
  background-color: var(--app-color);
  border-radius: 25%;
  border-style: none;
  cursor: pointer;
  color: var(--bg-color);
  font-size: 24px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo .delete-btn:hover  {
  background-color: var(--red-pink);
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: rgb(247, 247, 247);
  border-radius: 20px
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: #d5d5d5;
  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: left;
  margin-bottom: 25px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-text);
  background-color: var(--bg-color);
  padding: 5px 15px;
  margin-right: 1rem;
  border-radius: 1rem;
  transition: 200ms;
  cursor: pointer;
}

.filter.active, .filter:hover {
  background-color: var(--border-color);
}

.delete-all {
  border-radius: 0.25rem;
  display: flex;
  color: var(--dark-text);
  padding: 7px 15px;
  cursor: pointer;
  transition: 200ms;
  background-color: var(--bg-color);
}

.delete-all:hover {
  border-radius: 0.5rem;
  background-color: var(--red-pink);
  color: var(--bg-color)
}

.github{
  position: fixed;
  height: 2rem;
  width: 20rem;
  background-color: var(--app-color);
  color: var(--dark-text);
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: 200ms;
}

.github:hover{
  background-image: linear-gradient(to top right, #FF9A8B, #FF6A88, #FF99AC);
  color: var(--bg-color);
  transition: 200ms;
}

a{
  color: white;
  text-decoration: none;
}

.github{
  right: 1rem;
}